<div class="game-container">
  <div class="header">
    <p>Enter the response time (ms):</p>
    <input type="number" [(ngModel)]="timeLimit" />
    <button (click)="startGame()">Start</button>
  </div>
  <div class="score-board">
    <span>Player: {{ playerScore }}</span>
    <span>Computer: {{ computerScore }}</span>
  </div>
  <div class="grid">
    <div
      *ngFor="let cell of grid; let i = index"
      class="cell"
      [ngClass]="getCellClass(i)"
      (click)="handleCellClick(i)"
    ></div>
  </div>
</div>

<div *ngIf="gameOver" class="modal">
  <div class="modal-content">
    <h2>{{ winner }} won!</h2>
    <button (click)="resetGame()">Play again</button>
  </div>
</div>
